<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
	<gazebo>
		<plugin name="my_robot" filename="libgazebo_ros_diff_drive.so" >
            <left_joint>w_joint_1</left_joint>
            <left_joint>w_joint_3</left_joint>
            <right_joint>w_joint_2</right_joint>
            <right_joint>w_joint_4</right_joint>
            <wheel_separation>0.82</wheel_separation>
            <wheel_diamenter>0.1</wheel_diamenter>


            <max_wheel_torque><max_wheel_torque>
            <max_wheel_acceleration>10.0<max_wheel_acceleration>

            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>


            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
			
		</plugin>
	</gazebo>


</robot>
